@import "fonts";
@import "tabs";
// @import "listItem";

$body-font-family: 'Quicksand', sans-serif;

$stepper-header-elevation: 0;

$text-field-details-margin-bottom: 0;

$data-table-border-radius: 8px;
$data-table-expanded-content-box-shadow: 0;

$dialog-max-height: 96vh;


.v-list{
    color: transparent;
    // background-color: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
}
